
.grid-container {
  background-image: url(https://images.unsplash.com/photo-1471624257787-362e0c864ab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  width: 100%;
  height: 100vh;
}

#holdForm{

  

}

#ac{



}

#ab{



}
#aa{



}

#bc{



}

#bb{
  background-color: white;
  text-align: left;

  margin-right: 15%;
  margin-left: 15%;
  border-style: double;
  border-color: black;
  border-width: 5px;

}



#hr1{

  clear:both;
  visibility: hidden;
}


#hr2{

  clear:both;
  visibility: hidden;
}


#addUser{
  text-align: center;

}

#ba{



}

#cc{



}

#cb{



}
#ca{



}